h1{
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	text-align: center;
font-size: 2.5em;
color: #b72f2f;
}
h2{
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	text-align: center;
	color: #b72f2f;
	text-shadow: 2px 2px 7px #111111;
font-size: 5em;
}

body {
 font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
 background-color: lightblue;
 max-width: 45em;
 margin:0 auto;
 color: #black;
 background: url('MarisImages/Water2.png');
 background-attachment: fixed;
 background-repeat: no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  div {
      opacity: 0.3;
  } 
 margin:0;
 padding:0;
}

div.background {
	opacity: 60em
}
figcaption{
	color: black;
}

p, blockquote {
	max-width: 40em;
}
img{
	margin-right: 10px;}


