h1{
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	text-align: left;
font-size: 2.5em;
background-color: #7fbc84;
color: #bd5d5d;
}
h2{
	text-align: center;
	color: #b72f2f;
	text-shadow: 2px 2px 7px #111111;
font-size: 5em;
}

body {
 font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
 background-color: #96da9c;
 max-width: 40em;
 margin:0 auto;
 color: white; 
}
figcaption{
	color: white;
}

p, blockquote {
	max-width: 40em;
}
img{
	margin-right: 10px;}


